torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0
transformers==4.57.6
diffusers==0.35.1
accelerate==1.10.1
einops==0.8.1
easydict==1.13
decord==0.6.0
imageio==2.37.0
pillow==11.0.0
numpy==2.2.6
tqdm==4.67.1
flash_attn==2.8.3
ftfy==6.3.1
regex==2025.9.1
sentencepiece==0.2.1
qwen-vl-utils